body{
    background-image: url("../../res/background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    

    background-color: #11111122;
}

.icon{
    width: 15%;
    margin: 10px;
    display:flex;
    border-style: ridge;
    border-radius: 10px;
}

.title{
    color: #222222;
    display: flex;
    justify-content:center;
    margin: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
}

.header{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    background-color: #11111111;
    font-weight: bold;
    font-size: 2em;
    border-radius: 50px;
}

.header li{
    display: inline;
    padding: 0 10px;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: black;
}

.header li:hover{
    background-color: #11111122;
    border-radius: 10px;
}

.header .selected{
    background-color: #22222244;
    border-radius: 10px;
}

.footer{
    text-align: center;
    background-color: #CCCCCCAA;
    font-weight: bold;

    font-size: 2em;
    border-radius: 50px;
    height: 400px;
}

.footer-link{
    justify-items: left;
    margin-left: 5%;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #111111;
    padding: 5px;
}

.footer-link:hover{
    background-color: #22222865;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

.info {
    display: block; 
    margin: 20px; 
}

.right{
    background-color: #CCCCCCAA; 
    padding: 10px; 
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    border-radius: 20px;
}

.left{
    background-color: #CCCCCC11; 
    padding: 10px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
    border-radius: 20px;
}

.right-content {
    display: flex; 
    align-items: center; 
}

.left-img, .right-img {
    width: 200px; 
    margin-right: 20px; 
}

.left-txt, .right-txt {
    font-size: 20px;
    font-weight: bold; 
}

.right-img {
    margin-left: 20px; 
}
